ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px;
    margin-bottom: 20px;
    font-size:25px;
    font-weight: bolder;
    cursor: pointer;
    font-family:Georgia, 'Times New Roman', Times, serif
   
}

.nav {
    text-decoration-line:none ;
}

.input {
    margin: 5%;
    
}

.stockLink{
    text-align: center;
}